*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
}
body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Rubik', sans-serif;   
}
.navbar{
    display:flex;
    padding:1.5rem;
    align-items:center;
    justify-content:space-between;
    font-size:1.5rem;
    background-color:#122543;
    position: fixed;
    width: 100%;
    height: 100px;
}
#harmony{
    color:white;
}
#verse{
    color:#8CC4DF;
}
.search{
    display:flex;
    align-items:center;
    padding:10px 10px;
    gap:2%;
}
.search input{
    padding:2%;
    border:none;
    border-radius:8px;
    font-size:1rem;
}
.search button{
    background-color: #80b3cc;
    color: white;
    font-size:.9rem;
    padding:2.5%;
    border:none;
    border-radius:8px;
}
.main-div .side-navbar{
    width: 25%;
    height: 100%;
    background: lightgray;
    position: fixed;
    margin-top: 100px;
}
.main-div .side-navbar ul li{
    font-size: 1.5rem;
    padding: 15px 25px;
}
.main-div .side-navbar .sidebar-elements a{
    color: black;
}
/* Layout for home page */
.base-content{
    padding:2%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items:center;
    width:100%;
    margin-left: 25%;
    margin-top: 100px;
}
.main-div{
    display:flex;
    flex-wrap:wrap;
}
.home{
    background:#122543;
}.home a{
    color:white;
}
/* hover effects */
.home:hover{
    background:#1d3a68;
    color: black;
}
.search button:hover{
    cursor:pointer;
    background-color: #47a3d2;
    box-shadow: 0px 12px 16px 0 rgba(140, 196, 223,.24),0 17px 50px 0 rgba(140, 196, 223,.20);
}
.search input:hover{
    background-color: white;
    box-shadow: 0px 12px 16px 0 rgba(140, 196, 223,.24), 0 17px 50px 0 rgba(140, 196, 223,.20);
}

.side-navbar li:hover{
    background:#8CC4DF;
    color: white;
}
section{
    display: flex;
}