.playlist {
  display: flex;
  flex-direction: column;
}
img {
  height: 300px;
  width: 300px;
}
table{
  width: 100%;
}
thead {
  background: #cccccc;
  width: 100%;
  text-align: center;
}
.artist{
  color:black;
  text-decoration: underline;
}
