{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% load static%}
{% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock styles %}
{% block script %}{% endblock script %}
{% block content %}
<section class="abt">
    <div class="about">
        <a href="/"><p><span class="abt-H">Harmony</span><span class="abt-V">Verse</span></a>
    </div>
    <div class="abt-content">
        <p>HarmonyVerse is a music app that harmonizes your world with the power of music. Seamlessly integrated with the Spotify API, HarmonyVerse opens up a universe of musical possibilities, allowing you to immerse yourself in a harmonious journey like never before.</p>
        <div style="width:10%;height:50px;"></div>
        <p>Let HarmonyVerse be your guide on a melodic exploration.Discover new genres, artists, and hidden musical gems that captivate your senses and broaden your sonic horizons.</p>
        <div style="width:10%;height:50px;"></div>
        <p>For any queries regarding project or you want to contribute in project or want to share some ideas for project development.</p>
    </div>
</section>
<div class="footer">
    <p>Connect with me on : <a href="https://github.com/parthiv011/"><img src="{% static 'images/github.png' %}" alt="image" style="height:3%;width:3%;"></a>
    <a href="https://www.linkedin.com/in/parthiv-parmar-7aa38b224/"><img src="{% static 'images/linkedin.png' %}" alt="image" style="height:3%;width:3%;"></a>
    <a href="https://twitter.com/Parthiv2111"><img src="{% static 'images/twitter.png' %}" alt="image" style="height:3%;width:3%;"></a></p>
</div>
{% endblock content %}