{% extends 'base.html' %}
{% block title %}Album{% endblock title %}
{% load static%}
{% block script %}{% endblock script %}
{% block content %}
    <h2>{{message}}</h2>
    <div class="album" style="display:flex; flex-direction:column;">
        {% for d in  new.images%}
            {% if d.width == 640 %}
                <img src="{{d.url}}" alt="Image" style="height:300px; width:300px;">
            {% endif %}
        {% endfor %}
        <table>
            <thead>
                <tr>Title</tr>
                <tr>Duration</tr>
                <tr>Preview</tr>
            </thead>
            <tbody>
                {% for d in new.tracks.items %}
                
                <tr>
                    <td>{{d.name}}</td>
                    <td>{{d.duration_ms}}</td>
                    <td>
                        <audio controls>
                            <source src="{{d.preview_url}}" type="audio/ogg">
                            <source src="{{d.preview_url}}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </td>
                </tr>   
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}